@font-face {
	font-family: 'ENGLISHW';
	src: url('ENGLISHW.ttf') format('truetype'),
             url('ENGLISHW.woff') format('woff'),
             url('ENGLISHW.woff2') format('woff2');
}

 p{
  font-family:ENGLISHW, Droid Sans, monospace;
}