@font-face {
	font-family: 'IslandScriptOpti';
	src: url('IslandScriptOpti') format('truetype'),
             url('IslandScriptOpti.woff') format('woff'),
             url('IslandScriptOpti.woff2') format('woff2');
}

 p{
  font-family:IslandScriptOpti, Droid Sans, monospace;
}